<html>
  <head>
  </head>
  <body>
    <h2>Hello <%= @name %></h2>
    <form action='/' method='post'>
      First name:<br>
      <input type="text" name="name" value=""><br>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
